<% include ../partials/header %>


<div class="container">
    <div class="row">
   <div class="col-md-6">
    <div class="thumbnail">
      <i class="fas fa-book"></i>
      <div class="caption">
        <h2>管理题库</h2>
        <p>您可对选择科目进行题库增删</p>
        <p><a href="/teacher/bank" class="btn btn-primary" role="button">进入</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <i class="fas fa-book-reader"></i>
      <div class="caption">
        <h2>管理试卷</h2>
        <p>您可进行试卷增删及查看学生成绩</p>
        <p><a href=/teacher/exam class="btn btn-primary" role="button">进入</a></p>
      </div>
    </div>
  </div>
</div>
</div>


<% include ../partials/footer %>