<% include ../partials/header %>

<div class="container">

    <div>
        <div style="width: 60%; margin: 10px auto;">
            <form action="/teacher/exam" method="POST">
                <table class="table table-hover table-striped " >
                    <caption>智能出卷</caption>
                    <tr align="center">
                        <td>题型</td>
                        <td>l1数量</td>
                        <td>l1分值</td>
                        <td>l2数量</td>
                        <td>l2分值</td>
                        <td>l3数量</td>
                        <td>l3分值</td>
                    </tr>
                   <tr align="center">
                       <td>单选题</td>
                       <% for(var i=0;i<6;i++) { %>
                       <td><input type="text" value="0" style="width:30px;" name="single<%= i%>" ></td>
                       <% }%>
                   </tr>
                    <tr align="center">
                       <td>判断题</td>
                       <% for(var i=0;i<6;i++) { %>
                       <td><input type="text" value="0" style="width:30px;" name="check<%=i%>"></td>
                       <% }%>
                   </tr>
                   <tr align="center">
                       <td>填空题</td>
                       <% for(var i=0;i<6;i++) { %>
                       <td><input type="text" value="0" style="width:30px;" name="tk<%=i%>"></td>
                       <% }%>
                   </tr>
                </table>
                <div class="form-group">
                    <input  type="radio" name="sub" value="数据结构">
                    <span style="margin-right:10%">数据结构</span>
                    <input  type="radio" name="sub" value="算法">
                    <span>算法</span>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="试卷名称">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="pass" placeholder="及格线">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="author" placeholder="出卷人">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="date" placeholder="日期">
                </div>
                 <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" >提交</button>
                </div>
            </form>
            <a href="/teacher/exam">Go Back</a>
        </div>
    </div>

   </body>
</html>