<% include ../partials/header %>

<div class="container">

<h1> 选择科目</h1>

    <div class="row">
   <div class="col-md-6">
    <div class="thumbnail">
      <i class="fas fa-book"></i>
      <div class="caption">
        <h2>数据结构</h2>
        <p><a href="/teacher/bank/ds" class="btn btn-primary" role="button">进入</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <i class="fas fa-book-reader"></i>
      <div class="caption">
        <h2>算法</h2>
        <p><a href=/teacher/bank/al class="btn btn-primary" role="button">进入</a></p>
      </div>
    </div>
  </div>
</div>

<a href="/teacher" >Go Back</a>


</div>







<% include ../partials/footer %>